*, *::before, *:after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}


.container{
      background-color: #181818;
      
}

.header{
      display: flex;
      flex-direction: row;
      padding-top: 20px;
}

.section1{
      width: 1097px;
      height: 119px;
      margin: 0 auto;
}

.logo img{
      width: 186px;
      height: 58px;
}

  
  .header-wrapper {
      display: flex;
      align-items: center; /* Центрирование по вертикали */
      padding-top: 17.5px;
      padding-left: 116px;
  }
  
  .header-link {
      padding: 0 15px; /* Добавьте отступы по бокам для красоты */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: 0.2px;
      color: #fff;
  }
  .header-link a{
      text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Устанавливаем цвет текста для всех ссылок */
  }
  
  .header-link:last-child {
      margin-left: auto; /* Перемещение последнего элемента вправо */
      border: 1px solid #FFF;
      display: flex;
      align-items: center; /* Центрирование по вертикали */
      justify-content: center; /* Центрирование по горизонтали */
      margin-left: 173px;
  }

  .header-link:last-child a{
      height: 52px;
      padding: 14px 36px;
  }

.main{
      padding:85px 0 85px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

.title{
      text-align: center;
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: 88px; /* 110% */
      letter-spacing: 0.2px;
      width: 600px;
      color: #FFF;
      padding: 10px;

}

.subtitle{
      text-align: center;
      color: #FFF;
      margin-top: 17px;
      padding: 10px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      letter-spacing: 0.2px;
      width: 582px;
}

.links{
      display: flex;
      flex-direction: row;
      justify-content:center;     
      color:#FFF;
      text-decoration: none;
      padding-bottom: 35px;


}

.link{
      padding: 10px 30px 10px 30px;

}
.link:first-child{
      margin-right: 17.5px;
      background: var(--primary, #4452FE);
}

.link:last-child{
      margin-left: 17.5px;
      border: 1px solid var(--light-text, #FFF);

}

.big-img{
      width: 1552px;
      height: 840px;
      padding: 0,13px,252px,13px;
      display: flex;
      flex-direction: column;
}
.dash1{
      margin-left: 54px;
      width: 465.817px;
      height: 429.985px;
      /* margin: 20px 0px 0px auto; */

}

.features-title{
      font-size: 52px;
      font-style: normal;
      font-weight: 400;
      line-height: 62px; /* 119.231% */
      letter-spacing: 0.2px;
      color: #fff;
      text-align: center;

}
  
.features-subtitle{
      width:582px;
      color:#FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      letter-spacing: 0.2px;
      padding-top: 27px;
      margin-left:590px;
      padding-bottom: 80px;
}

.features-img {
      width: 696px;
      height: 659px;
      margin-left: 223px;
      position: relative; /* Добавлено позиционирование relative для features-img */
      display: inline-block;
  }
  
  .chart {
      position: absolute;
      bottom: -100px;
      left: 46%;
      z-index: 1; /* Устанавливаем z-index, чтобы элемент находился поверх других элементов */
  }
.features-wrapper{

      padding:62px,50px;
      padding-bottom:100px;

}

.features-descr-wrapper{
      padding-left: 100px;
      display: inline-block;
      color:#FFF;
      width: 269px;
}

.features-descr-title{
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 150% */
      letter-spacing: 0.1px;
}

.features-descr-opisanie{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.2px;
}


.features-descr-icon{
      padding-top: 74px;
}

